:root {
    background-color: rgb(89, 89, 202);
}

.body {
    position: middle;
    background-color: white;
    width: 90%;
    height: 80%;
    margin: 5%;
}

.header_body {
    background-color: rgb(174, 193, 235);
    height: 200px;
}

.element_header {
    margin: 30px;

}

.imagen_escritura {
    float: right;
}

.nav_arriba {
    background-image: url("sources/bluePrintPaper.png");
    height: 40px;
    text-align: center;
}

.ul_arriba {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li_arriba {
    display: inline;
    width: 50%;
    margin-right: 50px;
}

.li_arriba a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.sponsor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 250px;
    margin: 20px;
}

.sponsor img {
    width: 100%;
    height: auto;
}

.aside {
    border-right: 3px solid black;
    width: 35%;
    margin: 20px;
}

.aside h3 {
    margin: 20px;
}

.section_main {
    width: 60%;
    float: right;
}

.section_main p {
    font-size: 10;
}

.footer {
    background-color: rgb(174, 193, 235);
}